<div class="container mt-5">
    <div class="table-actions mb-5">
        <div class="form-group">
            <label for="pageSizeSelect">Page Size:</label>
            <select 
                id="pageSizeSelect" 
                class="form-control"
                (change)="handlePageSize($event)"
            >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
    </div>
</div>
