<div class="table-container">
  <table class="table table-bordered mt-3 ">
    <thead class="table-default">
      <tr>
        <th colspan="headers.length">
          <div class="reset-btn">
            <button (click)="resetFilters()" class="btn btn-danger">
              Clear all filters
            </button>
          </div>
        </th>
      </tr>
      <tr class="table-light">
        <th *ngFor="let header of headers" class="text-nowrap">
          <div [ngSwitch]="header.type">
            <div *ngSwitchCase="HeaderTypes.NUMBER">
              <div class="me-2">
                <input 
                  type="number" 
                  class="form-control" 
                  [placeholder]="header.field+'...'" 
                  name="value"
                  [value]="filters$.getValue()[header.label]?.value"
                  (keyup)="filterItems(header.label, $event)">
              </div>
              <div>
                <select 
                  class="form-select"
                  (change)="filterItems(header.label, $event)" 
                  name="sign"
                >
                  <option 
                    *ngFor="let sign of header.options" 
                    [value]="sign"
                    [selected]="sign === FilterSignEnum.EQUALS">
                    {{ sign }}
                  </option>
                </select>
              </div>
            </div>

            <div *ngSwitchCase="HeaderTypes.NAME">
              <div>
                <input 
                  class="form-control"
                  type="text" 
                  [placeholder]="header.field + '...'" 
                  (keyup)="filterItems(header.label, $event)" 
                  name="value"
                >
              </div>
            </div>

            <div *ngSwitchCase="HeaderTypes.DATE">
              <div class="me-2">
                <input 
                  class="form-select"
                  type="date" 
                  (change)="filterItems(header.label, $event)" 
                  name="value"
                >
              </div>
              <div>
                <select 
                  class="form-select" 
                  (change)="filterItems(header.label, $event)" name="sign"
                >
                  <option 
                    *ngFor="let sign of header.options"
                    [selected]="sign === FilterSignEnum.EQUALS"
                  >
                    {{ sign }}
                  </option>
                </select>
              </div>
            </div>

            <div *ngSwitchCase="HeaderTypes.STATUS">
              <select 
                class="form-select" 
                name="value" 
                (change)="filterItems(header.label, $event)"
                [value]="filters$.getValue()[header.label]?.value">
              >
                <option *ngFor="let status of header.options">
                  {{ status }}
                </option>
              </select>
            </div>
          </div>
        </th>
      </tr>
      <tr class="table-light">
        <th *ngFor="let header of headers" style="vertical-align: bottom;">
          <div class="d-flex justify-content-between align-items-end" style="height: 100%;">
            <p class="mb-0">{{ header.label }}</p>
            <div>
              <button *ngIf=" header.label !== 'Image'" class="btn btn-link" (click)="sortBy(header, true)">
                &#8593;
              </button>
              <button *ngIf=" header.label !== 'Image'" class="btn btn-link" (click)="sortBy(header, false)">
                &#8595;
              </button>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td *ngFor="let header of headers">
          {{getValue(item, header.field) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-pagination [totalLength]="totalLength" (pageChange)="setPage($event)"></app-pagination>

<app-loader *ngIf="isLoading"></app-loader>