table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    tbody {
        height: 300px;
    }

    tr {
        display: table;
        height: 60px;
        width: 100%;
    }
    
    th, td {
        width: 20%;
        box-sizing: border-box;
    }

    td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}

select {
    max-width: 100%;
    padding: 8px 30px 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background-size: 10px;
    cursor: pointer;
}
