td {
    position: relative;
    width: 100px;
    height: 50px;

    input {
        background-color: transparent;
        height: 100%;
        width: 100%;
        border: none;
        position: absolute;
        top: 0;
        left: 0;  
        margin: 0;
        outline: none;
    }

    select {
        background-color: transparent;
        height: 100%;
        width: 100%;
        border: none;
        position: absolute;
        top: 0;
        left: 0;  
        margin: 0;
        outline: none;
    }
}

td.editable {
    background-color: #f0f8ff;
    outline: 2px solid #007bff;
    z-index: 1;
}

.table-head {
    display: flex;
    justify-content: space-between;

    .table-head-name {
        flex-grow: 1;
    }

    .table-head-sort-btns {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .arrow {
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}