<ng-content *ngIf="fetchData$ | async"></ng-content>

<div class="container mt-5">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th *ngFor="let column of columnNames">
                    <div
                        *ngIf="column === 'number'"
                    >
                        <input
                            type="text"
                            (keyup)="handleInputNumberFilter($event)"
                            placeholder="Number..."
                            class="form-control"
                        >
                        <select
                            (change)="handleNumberFilterSign($event)"
                            class="form-select"
                        >
                            <option value="all">all</option>
                            <option value="equal">=</option>
                            <option value="more">></option>
                            <option value="less"><</option>
                        </select>
                    </div>
                    <div
                        *ngIf="column === 'date'"
                    >
                        <input
                            type="datetime-local"
                            (change)="handleDateRange($event)"
                            class="form-control"
                        >
                        <select
                            (change)="handleDateFilterSign($event)"
                            class="form-select"
                        >
                            <option value="all">all</option>
                            <option value="equal">=</option>
                            <option value="more">></option>
                            <option value="less"><</option>
                        </select>
                    </div>
                    <div
                        *ngIf="column === 'status'"
                    >
                        <select
                            (change)="handleStatusFilter($event)"
                            class="form-select"
                        >
                            <option value="All">all</option>
                            <option value="Created">Created</option>
                            <option value="Paid">Paid</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                    <div
                        *ngIf="column === 'name'"
                    >
                        <input
                            type="text"
                            (keyup)="handleInputNameFilter($event)"
                            placeholder="Name..."
                            class="form-control"
                        >
                    </div>
                </th>
            </tr>
            <tr>
                <th *ngFor="let column of columnNames">
                    <div class="table-head">
                        <div class="table-head-name">
                            <p class="mb-0 me-2">{{ column | titlecase }}</p>
                        </div>
                        <div class="table-head-sort-btns">
                            <a class="text-decoration-none me-2" (click)="sortBy(column, 'asc')">
                                <span class="arrow">↑</span>
                            </a>
                            <a class="text-decoration-none" (click)="sortBy(column, 'desc')">
                                <span class="arrow">↓</span>
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
    
        <tbody>
            <tr 
                *ngFor="let invoice of visibleInvoices$ | async"
                (dblclick)="handleEditCellMode(invoice, $event)"
                (click)="handleRemoveRow(invoice.id)"
            >
                <td 
                    *ngFor="let col of columnNames"
                    [attr.data-col]="col"
                    [ngClass]="{ 'editable': isEditableCell(invoice, col) }"
                >
                    <p *ngIf="(!isEditableCell(invoice, col) && col !== 'image' && col !== 'status' && col !== 'date')">
                        {{ getValue(invoice, col) }}
                    </p>
                    <input
                        *ngIf="isEditableCell(invoice, col) && col !== 'status' && col !== 'date'"
                        #inputField
                        type="text" 
                        (keyup.enter)="handleSaveCell(invoice, col, $event)"
                        (blur)="handleSaveCell(invoice, col, $event)"
                        [value]="getValue(invoice, col)"
                        (keyup)="handleInputValue(invoice.id, col, $event)"
                    >
                    <input
                        *ngIf="col === 'date'"
                        type="datetime-local"
                        (change)="handleSaveCell(invoice, col, $event)"
                        [value]="invoice.date"
                        (blur)="handleSaveCell(invoice, col, $event)"
                    >
                    <select
                        *ngIf="col === 'status'"
                        (change)="handleSaveCell(invoice, col, $event)"
                    >
                        <option 
                            *ngFor="let status of statuses"
                            [selected]="status.value === invoice.status"
                        >
                            {{ status.label }}
                        </option>
                    </select>
                    <img 
                        *ngIf="(!isEditableCell(invoice, col) && col === 'image')"
                        [src]="invoice.image" 
                        alt="Invoice img"
                    >
                </td>
            </tr>
        </tbody>
    </table>
</div>
